/* Home page CSS */

/* fill entire page */
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}
/* fill entire page */

/* font */
body * {
    font-family: "Open Sans", sans-serif;
}
/* font */

/* page title */
.header {
    margin-bottom: 0;
    padding: 0px;
    color: white;
    background-image: url(https://i.pinimg.com/236x/73/b4/5b/73b45bb79dfff36b9166b84a5ae53e5a.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.header h1 {
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
}
/* page title */

/* nav bar */
nav a {
    text-decoration: none;
}

nav ul {
    background-color: #B7C8CB;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    color: rgb(106, 134, 137);
    background-color: #B7C8CB;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 33.333%;
    text-align: center;
    font-size: 18px;
}

nav li a {
    color: rgb(106, 134, 137);
}

nav li:hover {
    background-color: #E8DDCD;
    cursor: pointer;
}

nav li:hover a {
    color: white;
}

/* submenu */
nav ul li ul {
    background-color: #B7C8CB;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

/* items in submenu */
nav ul li ul li {
    clear: both;
    width: 100%;
    color: rgb(106, 134, 137);
}

nav ul li ul li a {
    color: rgb(106, 134, 137);
}
/* nav bar */

/* headers */
h2 {
    font-size: 54px;
    text-align: center;
    font-weight: 300;
    color: #D5861C;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-weight: 300;
}
/* headers */

/* container */
.container {
    max-width: 1200px;
    padding: 40px 180px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #2C393F;
}
/* container */

/* section divider */
hr {
    margin: 40px 0px;
    opacity: 0.2;
    border: 0;
    border-top: 2px solid rgb(213, 196, 180);
}
/* section divider */

/* about statement */
#professionalstatement p {
    text-align: center;
}
/* about statement */

/* quote */
#quote-block {
    padding-bottom: 0px;
}

#quote {
    text-align: center;
    font-size: 24px;
    color: #D5861C;
}

#hardy {
    text-align: right;
    font-size: 15px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* quote */

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #B7C8CB;
}

.fa-linkedin {
    color: white;
    margin-left: 20px;
    padding-top: 10px;
}

.fa-linkedin:hover {
    color: rgb(106, 134, 137);
    transition: all 0.5s ease;
}

.fa-envelope {
    color: white;
    margin-left: 20px;
}

.fa-envelope:hover {
    color: rgb(106, 134, 137);
    transition: all 0.5s ease;
}
/* footer */